

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
}

.mySwiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(71, 71, 71, 0.5); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
}
.mySwiper2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(240, 202, 29, 0.15); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
    display: none; /* Initially hidden */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000cd;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

    flex-direction: column;
    flex-wrap: nowrap;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    color: #00e5ff; /* Adjust the color as needed */
    padding-bottom: 15px;
  }

.swiper-slide .subtitle {
    font-size: 21px;
    color: #ffffff;
  }



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
    background: rgba(23, 23, 112, 0.5);
}

.mySwiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(126, 134, 155); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
}
.mySwiper2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(240, 202, 29, 0.15); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
    display: none; /* Initially hidden */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #393939cd;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

    flex-direction: column;
    flex-wrap: nowrap;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    color: #00e5ff; /* Adjust the color as needed */
    padding-bottom: 15px;
  }

.swiper-slide .subtitle {
    font-size: 21px;
    color: #ffffff;
  }



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
    background: rgba(23, 23, 112, 0.5);
}

.mySwiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(126, 134, 155); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
}
.mySwiper2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(240, 202, 29, 0.15); /* Pink with half opacity */
    z-index: 100; /* Make sure this is above the AR.js canvas */
    display: none; /* Initially hidden */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #00000087;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;

    flex-direction: column;
    flex-wrap: nowrap;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
    color: #00e5ff; /* Adjust the color as needed */
    padding-bottom: 15px;
  }

.swiper-slide .subtitle {
    font-size: 21px;
    color: #ffffff;
  }

.swiper-slide .text {
    font-size: 22px;
    max-width: 400px;
    line-height: 1.3;
    color: #d5d5d5;
    background-color: #02000a00; /* Pink background */
    padding: 10px; /* Padding around the text */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 4px rgba(8, 139, 220, 0.623); /* Optional: add a subtle shadow */
    margin: 10px; /* Optional: add some margin around the text box */
}
  .swiper-slide video {
    width: 100%; /* Full width of the slide */
    height: auto; /* Maintain aspect ratio */
    max-height: 100vh; /* Optional: limit height to viewport */
}

.swiper-slide img {
  width: 100%; /* or any other width */
  height: auto; /* maintain aspect ratio */
}
.close-btn {
    z-index: 1000; 
    position: fixed;
    bottom: 10px;
    left: 4%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide video {
    width: 100%; /* Full width of the slide */
    height: auto; /* Maintain aspect ratio */
    max-height: 100vh; /* Optional: limit height to viewport */
}
.close-btn {
    z-index: 1000; 
    position: fixed;
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  .swiper-slide video {
    width: 100%; /* Full width of the slide */
    height: auto; /* Maintain aspect ratio */
    max-height: 100vh; /* Optional: limit height to viewport */
}

/* Customized scanner overlay */
#example-scanning-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	z-index: 2;
      }
      @media (min-aspect-ratio: 1/1) {
	    #example-scanning-overlay .inner {
        width: 50vh;
        height: 50vh;
      }
      }
      @media (max-aspect-ratio: 1/1) {
        #example-scanning-overlay .inner {
          width: 80vw;
          height: 80vw;
        }
      }

#example-scanning-overlay .inner {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	background:
	  linear-gradient(to right,rgb(0, 255, 234) 5px, transparent 5px) 0 0,
	  linear-gradient(to right,rgb(0, 255, 234) 5px, transparent 5px) 0 100%,
	  linear-gradient(to left,rgb(0, 255, 234) 5px, transparent 5px) 100% 0,
	  linear-gradient(to left,rgb(0, 255, 234) 5px, transparent 5px) 100% 100%,
	  linear-gradient(to bottom,rgb(0, 255, 234) 5px, transparent 5px) 0 0,
	  linear-gradient(to bottom,rgb(0, 255, 234) 5px, transparent 5px) 100% 0,
	  linear-gradient(to top,rgb(0, 255, 234) 5px, transparent 5px) 0 100%,
	  linear-gradient(to top,rgb(0, 255, 234) 5px, transparent 5px) 100% 100%;
	background-repeat: no-repeat;
	background-size: 40px 40px;
  }

  #example-scanning-overlay.hidden {
	display: none;
}

  #example-scanning-overlay img {
	opacity: 0.4;
	width: 90%;
	align-self: center;
  }

#example-scanning-overlay .inner .scanline {
	position: absolute;
	width: 90%;
	height: 5px;
	background: rgba(13, 197, 59, 0.64);
	animation: move 5s linear infinite;
      }
      @keyframes move {
      	0%, 100% { top: 0% }
	      50% { top: calc(100% - 10px) }
      }